/* contact */
.contact {
	font-size: 1.1vw;
}

 a.donate-button {
	background-color: rgb(8, 37, 78);
	color: white;
	display: inline-block;
	height: 3em;
	width: 11em;
	font-size: 1em;
	vertical-align: middle;
	padding: 1em;
	border-radius: 5%;
}
