/* contact */
.contact {
	font-size: 1.1vw;
}

 a.donate-button {
	background-color: rgb(8, 37, 78);
	color: white;
	display: inline-block;
	height: 3vw;
	width: 15vw;
	font-size: 1.5vw;
	vertical-align: middle;
}
