/* contains logo, navbar and language toggle */
.header {
	position: relative;
	width: 100%;
	top: 0;
	background-color: white;
	z-index: 2;
}

.logo {
	margin: 2em;
	width: 90%;
	height: auto;
	z-index: 1;
}

.language {
	top: 0;
}

@media screen and (min-width: 700px) {
	.logo-wrapper {
		width: 50%;
		float: left;
		max-width: 600px;
	}

	.logo {
		margin: 3em;
		width: 90%;
	}

}

@media screen and (max-width: 699px) {
	.logo-wrapper {
		width: 100%;
	}

	.logo {
		width: 100%;
	}
}
