/* contains logo, navbar and language toggle */
.header {
  position: fixed;
  width: 90%;
  margin-top: 0;

  z-index: 2;
}

.language-dropdown {
  width: 3vw;
  height: auto;
}

.dropdown-button-group {
  max-width: 70%;
}

@media screen and (min-width: 700px) {
  .logo-wrapper {
    float: left;
    /* max-width: 600px; */
    width: 50%;
  }

  .logo {
    width: 40vw;
    margin-left: 12vw;
  }

  .dropdown-button-group {
    /* max-height: 5vw;
    max-width: 10vw; */
  }
}

@media screen and (max-width: 699px) {
  .logo {
    width: 70%;
    margin-left: 9vw;
    margin-top: 2vw;
    padding: 2em !important;
  }

  .language-dropdown {
    width: 2vw;
    height: auto;
  }
}
