/* home */

.cover-pic {
	position: absolute;
	top: 15%;
	width: 100%;
	height: auto;
	z-index: -1;
}

/* at top of page, container for navbar and logo */
.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	z-index: 2;
	background-color: white;
	padding-bottom: 10%;
}


.home-headline {
	font-family: "Bree Serif", serif;
	color: rgb(8, 37, 78);
	font-weight: bold;
	text-align: center;
	margin-bottom: 3%;
}

.home-headline-desktop {
		font-size: 2em;
		line-height: 1.5em;
}

.home-headline-mobile {
		font-size: 4vw;
}

.empower {
	font-size: 2vw;
}

.activities {
	font-size: 3vw;
	padding-top: 2%;
	padding-bottom: 2%;

}

.about-blurb {
	position: absolute;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.8);

}

.about-blurb-desktop {
	top: 65%;
	left: 15%;
	width: 70%;
	border-radius: 85px;
	border: 3px solid rgb(197, 158, 85);
	padding: 1%;
}

.about-blurb-mobile{
	top: 45%;
	left: 5%;
	right: 5%;
	width: 90;
	border-radius: 35px;
}

.bubble p,
a {
	font-size: 1.3em;
}

.bubble-mobile p, a {
	font-size: 2.8vw;
}

.bubble h1 {
	font-size: 3vw;
	color: rgb(8, 37, 78);
}

.bubble h2 {
	font-size: 1.5vw;
	color: rgb(8, 37, 78);
}
