/* resources/coding  */

.resources {
	position: absolute;
	top: 35%;
	z-index: 3;
}

.resourcesHeadlineContainer {
	position: absolute;
	margin-top: 10%;
	margin-bottom: 45%;
	height: 10vw;
	width: 100%;
	background-color: lightgrey;
}

.resourcesButtonGroup {
	position: absolute;
	margin-left: 5%;
	margin-top: 25%;
	margin-right: 65%;
	margin-bottom: 5%;
}

.resourceButton {
	background-color: rgb(8, 37, 78);
	width: 15vw;
	height: 2.5vw;
	color: white;
	font-size: 1.1vw;
	padding: 3.5%;
}

.resourceButton:hover {
	/* gold */
	background-color: rgb(197, 158, 85);
	color: rgb(8, 37, 78);
}

.showing {
	position: absolute;
	margin-left: 25%;
	margin-top: 22%;
	margin-right: 10%;
	margin-bottom: 5%;
	padding: 5%;
}

/* resourceLinks */

.resourceItemTitle {
	font-family: "Bree Serif", serif;
}

.resourceItemSubtitle {
	color: grey;
	font-size: 1.2vw;
	line-height: 1.3vw;
}

.resourceItemContainer {
	background-color: rgb(198, 151, 86, 0.05);
}

.resourceItemButton {
	background-color: black;
	width: 8vw;
	height: 2.5vw;
	font-size: 0.8vw;
	padding: 1%;
	display: inline-block;
}

.resourceItemButton a {
	color: white;
}

.resourceItemButton:hover {
	/* gold */
	background-color: rgb(197, 158, 85);
	color: rgb(8, 37, 78);
}

.resourceItemButton:hover a {
	color: rgb(8, 37, 78);
}

.resourceItemDivider {
	color: black;
	border: 3px;
}
