/* resources/coding  */

.resources {
	top: 30%;
	z-index: 1;
}

.coding-container {
	margin-top: 5%;
}

.headline-container {
	background-color: rgb(8, 37, 78);
	width: 90%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 1%;
}


@media screen and (min-width: 700px) {
	.headline-container {
		height: 2em;
		line-height: 2em;
	}

	.showing {
		position: absolute;
		margin-left: 25%;
		/* margin-top: %; */
		margin-right: 10%;
		margin-bottom: 5%;
		padding: 5%;
	}
}

@media screen and (max-width: 699px) {
	.headline-container {
		height: 1.5em;
		line-height: 1.5em;
	}
	
	.showing {
		position: absolute;
		margin-left: 25%;
		margin-top: 10%;
		margin-right: 10%;
		margin-bottom: 5%;
		padding: 5%;
	}
}

.coding-button-group {
	position: absolute;
	margin-left: 5%;
	margin-top: 4%;
	margin-right: 65%;
	margin-bottom: 5%;
}

.coding-button {
	background-color: rgb(8, 37, 78);
	width: 15vw;
	height: 2.5vw;
	color: white;
	font-size: 1.1vw;
	padding: 3.5%;
}

.coding-button:hover {
	/* gold */
	background-color: rgb(197, 158, 85);
	color: rgb(8, 37, 78);
}

/* coding resource links */

.coding-item-title {
	font-family: "Bree Serif", serif;
	font-size: 2.5em;
	line-height: 1em;
}

.coding-item-subtitle {
	color: grey;
	font-size: 1.2em;
	line-height: 1.3em;
}

.coding-item-container {
	background-color: rgb(198, 151, 86, 0.05);
}

.coding-item-button {
	background-color: black;
	width: 12em;
	height: 2.5em;
	font-size: 0.8em;
	padding: 1%;
	display: inline-block;
}

.coding-item-button a {
	color: white;
}

.coding-item-button:hover {
	/* gold */
	background-color: rgb(197, 158, 85);
	color: rgb(8, 37, 78);
}

.coding-item-button:hover a {
	color: rgb(8, 37, 78);
}

.coding-item-divider {
	color: black;
	border: 3px;
}
