.partners-grid {
  padding-top: 3em;
  padding-bottom: 4em;
  background-color: rgb(191, 158, 96, 0.5);
}

.partner-image {
  height: 25vw;
  padding-top: 3em;
  width: auto;
  margin: auto;
}

.partners-text {
  margin-bottom: 3em;
}

.partner-description {
  font-size: 1.3em;
  text-align: left;
  padding: 2em;
}

.minor-partners {
  margin-top: 5em;
}

.minor-partner-image {
  margin: auto;
}

.minor-partner-description {
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: left;
  padding: 2em;
}
