.partners-grid {
  padding-top: 3em;
  padding-bottom: 4em;
  background-color: rgb(191, 158, 96, 0.5);
}

.partner-image {
  height: 26vw;
  padding-top: 3em;
  margin-top: 2em;
  width: auto;
  margin: auto;
}

.partners-text {
  margin-bottom: 3em;
}

.partner-description {
  font-size: 1.3em;
  text-align: left;
  padding: 2em;
}

.minor-partners {
  margin-top: 10%;
}

.minor-partner-image-wrapper img {
  object-fit: contain;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

.not-slackers-logo {
  margin: 2em;
  height: 70%;
}

.kod-logo {
  margin: 2em;
  height: 50%;
}

@media screen and (min-width: 700px) {
  .minor-partners {
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 699px) {
  .minor-partners {
    width: 100%;
  }
}

.minor-partner-description {
  font-size: 1.3em;
  line-height: 1.3em;
  text-align: left;
  padding: 2em;
}
