

.blog-container {
	margin: auto;
}

.blog-headline-container {
	background-color: rgb(8, 37, 78);
	width: 90%;
	margin: auto;
	margin-top: 10%;
	margin-bottom: 5%;
}

.blog-card {
	border: 1px solid black;
	background-color: rgb(245, 244, 243);

}

.blog-card-image {
	width: 100%;
	max-height: 25%;
	height: auto;
}


.blog-title {
	font-weight: bold;
	color: rgba(46, 46, 87, 0.897);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
		sans-serif;
}


.blog-date {
	font-family: Georgia, "Times New Roman", Times, serif;
}



@media screen and (min-width: 700px) {
	.blog-container {
		width: 80%;
		margin-top: 18%;
		margin-bottom: 1%;
	}

	.blog-headline-container {
		height: 2em;
		line-height: 2em;
	}

	.blog-card {
		width: 30%;
		height: auto;
		padding: 2em;
		box-shadow: 20px 20px rgb(0, 0, 0, 0.6);
	}

	.blog-title {
		font-size: 2em;
		line-height: 1em;
	}
}

@media screen and (max-width: 699px) {
	.blog-container {
		width: 80%;
		margin-top: 15%;
		margin-bottom: 1%;
	}

	.blog-headline-container {
		height: 1.5em;
		line-height: 1.5em;
	}

	.blog-card {
		width: 20%;
		height: auto;
		padding: 2em;
	}

	.blog-title {
		font-size: 1.5em;
		line-height: 1em;
	}

}


.slick-track div {
	min-width: 30%;
	max-width: 50%;
}
