/* activities */

.blurb {
	position: absolute;
	width: 45%;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 105px;
	border: 3px solid rgb(197, 158, 85);
	padding: 2%;

}

.education {
	top: 145%;
	left: 45%;
}

.internship {
	top: 215%;
	left: 15%;

}

.entrepreneurship {
	top: 280%;
	left: 45%;
}
