



@media screen and (min-width: 700px) {
  .team-headline {
    height: 2em;
    line-height: 2em;
    margin-bottom: 2em;
  }
}

@media screen and (max-width: 699px) {
	.team-headline {
		height: 1.5em;
		line-height: 1.5em;
		margin-bottom: 1em;
	}
}



.team-description p {
  font-size: 1.2em;
  text-align: left;
}
