.team {
  margin-top: 5%;
}

.team-headline {
  font-family: "Bree Serif", serif;
  font-weight: bold;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .team-headline {
    font-size: 2em;
    margin-bottom: 5%;
  }
}

@media screen and (max-width: 699px) {
	.team-headline {
		height: 1.5em;
		line-height: 1.5em;
		margin-bottom: 1em;
	}

	.donate-card {
		margin: auto;
	}
}



.team-description p {
  font-size: 1.2em;
  text-align: left;
}
