/* about */

.aboutPage {
	margin-top: 15%;
}

.leafPic {
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
}

.our-story {
	position: absolute;
	top: 40%;
	left: 25%;
	width: 50%;
	height: auto;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 28%;
	border: 3px solid rgb(197, 158, 85);
	padding: 2%;
}

.bubble p,
a {
	font-size: 1vw;
}

.bubble h1 {
	font-size: 3vw;
	color: rgb(8, 37, 78);
}

.bubble h2 {
	font-size: 1.5vw;
	color: rgb(8, 37, 78);
}

.ceo-letter {
	position: absolute;
	top: 85%;
	height: auto;
	width: 60%;
	left: 20%;
	background-color: rgb(255, 255, 255);
	border-radius: 5%;
	border: 3px solid rgb(197, 158, 85);
	padding: 3%;
	z-index: 2;
	font-family: "Cormorant Garamond", serif;
}

.ceo-letter-headline {
	font-size: big;
	font-family: "Cormorant Garamond", serif;
	padding: 4%;
	font-weight: bold;
	text-align: center;
}

.ceo-letter-text p {
	font-size: 1.2vw;
	font-weight: bold;
	color: grey;
}
