/* about */

.aboutPage {
	margin-top: 15%;
}

.leafPic {
	position: relative;
	width: 100%;
	height: auto;
	z-index: -1;
}

.our-story {
	position: absolute;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 28%;
	border: 3px solid rgb(197, 158, 85);

}

.our-story-desktop {
	top: 25%;
	left: 25%;
	width: 50%;
	height: auto;
	padding: 2%;

}

.our-story-mobile {
	top: 20%;
	left: 10%;
	width: 80%;
	padding: 2%;
}

.our-story-mobile p {
	font-size: .9em;
}

.our-story a {
	font-size: 1em;
}


.ceo-letter {
	position: absolute;
	background-color: rgb(255, 255, 255, 0.9);
	border-radius: 5%;
	border: 3px solid rgb(197, 158, 85);
	padding: 3%;
	z-index: 2;
	font-family: "Cormorant Garamond", serif;
}

.ceo-letter-desktop {
	top: 80%;
	height: auto;
	width: 80%;
	left: 10%;
}

.ceo-letter-desktop p {
	font-size: 1.5vw;
	font-weight: bold;
	color: grey;
}

.ceo-letter-mobile {
	top: 65%;
	height: auto;
	width: 90%;
	left: 5%;
}


.ceo-letter-headline {
	font-size: big;
	font-family: "Cormorant Garamond", serif;
	padding: 4%;
	font-weight: bold;
	text-align: center;
}

.ceo-letter-text p {
	font-size: 1.2vw;
	font-weight: bold;
	color: grey;
}

.story-links {
	font-size: 2.5vw;
}

.about-bubble-mobile {

}

.about-bubble-desktop p,
a {
	font-size: 1.3em;
}


.about-bubble-desktop h1 {
	font-size: 3vw;
	color: rgb(8, 37, 78);
}

.about-bubble-mobile h1 {
	font-size: 4vw;
	color: rgb(8, 37, 78);
}

.about-bubble-desktop h2 {
	font-size: 1.5vw;
	color: rgb(8, 37, 78);
}
