

.courses{
	margin-top: 15%;

}

.courses p {
  font-size: 1.2vw;
  line-height: 1.4vw;
}

.python-title {
	font-weight: bold;
}

.python-description {
	font-size: 1.3vw;
	line-height: 1.5vw;
}

.python-bullets {
	font-size: 1.2vw;
	line-height: 1.2
}

.python-duration {
	font-size: 1vw;
	line-height: 1.2vw;
}

.course-info {
	background-color: rgb(197,158,85);
	padding: 5%;
}
