/* donate  */
.donate {
	margin-top: 7%;
}

.donate-cards-group {
	margin-left: 3%;
	padding: 2%;
}

.donate-card {
	height: 10%;
	width: auto;
	margin: auto;
}


.hidden-content {
	padding: 5%;
	background-color: rgb(8, 37, 78);
	color: white;
}
