/* donate  */
.donate {
	margin-top: 18%;
	z-index: 3;
}

.donate-headline {
	background-color: rgb(8, 37, 78);
	height: 2em;
	line-height: 2em;
	margin-bottom: 2em;
}

.donate-cards-group {
	margin-left: 3%;
	padding: 2%;
}

.donate-card {
	height: 10vw;
	width: auto;
}

.hidden-content {
	padding: 5%;
	background-color: rgb(8, 37, 78);
	color: white;
}
