/* resources/ research */

.research-image {
  max-height: 30vw;
  width: auto;
}

.research-image-mobile {
  max-height: 20vw;
  width: auto;
}


.research-container-text {
  font-size: 1.3em;
  line-height: 1em;
  padding-bottom: 4em;
  padding-top: 3em;
}

.research-description {
  font-size: 1.2em;
  line-height: 1em;
  padding: 5%;
}
