/* resources/ research */

.research-container {
	position: absolute;
	top: 25%;
	left: 5%;
	right: 5%;
}

.research-banner {
	background-color: rgb(197, 158, 85, 0.1);
	padding: 2%;
}

.research-image {
	height: auto;
	width: auto;
}

.research-text {
	font-size: 1.3vw;
	line-height: 1.3vw;
	padding-bottom: 2vw;
}

.research-description {
	font-size: 1.1vw;
	line-height: 1.1vw;
	padding-bottom: 1.5vw;
}
