.internships-container {
  background-image: url("./internships-image.jpeg");
  background-size: cover;
}

.internships-text {
  width: 60%;
  background-color: white;
  opacity: 0.7;
  transition: opacity 1s;
  text-align: left !important;
  padding: 2em;
  color: rgb(85, 83, 83);
  font-size: 1.7em;
}

.internships-text:hover {
  opacity: 0.9;
}
