.services-container {
    margin-top: 10%;
}

@media screen and (min-width: 700px) {
  .services-button-group {
      margin-top: 20%;
  }

  .services-button {
      width: 50%;
      height: 3em;
      font-size: 1.7em;
  }
}

@media screen and (max-width: 699px) {
  .services-button-group {
      margin-top: 50%;
  }

  .services-button{
      width: 50%;
      height: 2.2em;
      font-size: 1.2em;
  }
}



.classes-button {
    background-color: rgb(8, 37, 78);
    color: white;
}

.mentorship-button {
    background-color: rgb(197, 158, 85);
    color: rgb(8, 37, 78);
}
