.board-bubble-mobile {

}

.board-bubble-desktop {

}

.board-container {
	top: 20%;
	padding-top: 10%;
	bottom: 10%;
}

.board-headline {
	padding: 5%;
}

.board-card {
	position: absolute;
	text-align: center;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 20%;
	border: 3px solid rgb(197, 158, 85);
}

.board-card:active{
	background-color: rgb(8,37,78);
	color: white;
}

.board-photo {
	width: 25vw;
	height: auto;
	overflow: hidden;
	display: "block";
	margin: '0 auto';
}

.board-header{
  font-size: 40px;
}

.board-meta{
  font-size: 30px;
}

.board-description{
  font-size: 25px;
  line-height: normal
}

.board-column {
  float: left;
  width: 50%;
  padding: 40px;
  height: 500px;
	text-align: center;
  vertical-align: middle;
	background-color: rgb(255, 255, 255, 0.8);
	border-radius: 20%;
	border: 3px solid rgb(197, 158, 85);
}
