.App {
  text-align: center;
}

.center{
  text-align: center;
}

/* home */
html, body {
    margin: 0;
    height: 100%;
}

.coverPic{
  position: relative;
  width: 100%;
  height: auto;
  z-index: -1
}

.banner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 20%;
  z-index: 2;
}

.aboutBlurb {
  position: absolute;
  top: 70%;
  left: 10%;
  width: 80%;
  text-align: center;
  background-color: rgb(255,255,255,0.8);
  border-radius: 85px;
}


.logo {
  position: absolute;
  top: 26%;
  left: 4%;
  width: 100%;
  max-width: 35%;
  height: auto;
  z-index: 3;
}

/* navbar */
.navbar {
  position: absolute;
  font-weight: bold;
  top: 10%;
  left: 43%;
  height: auto;
  width: 100%;
  max-width: 40%;
  margin: auto;
  z-index: 3;
}

.active{
  padding :20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 1.2vw;
  color: rgb(197,158,85);
  background-color: white;
  border-radius: 10px 20px;
  border: 3px solid rgb(196, 193, 193);
  margin: 3% 1% 1%;
  width: 5%;
  height: 4%;
 }

.active:hover {
  color: rgb(40, 65, 99);
  background-color: rgb(197,158,85);

}

/* about */
.aboutPage {
  margin-top: 15%;
}


.ourStory{
  position: absolute;
  top: 40%;
  left: 28%;
  width: 50%;
  text-align: center;
  background-color: rgb(255,255,255,0.8);
  border-radius: 28%;
  padding: 2%;
}

/* partners */
.partners {
  margin-top: 15%;
}

/* activities */

.activitiesCards {
  position: absolute;
  top: 30%;
  left: 10%;
  right: 10%;
  z-index: 2;
}

.background{
  position: relative;
  width: 100%;
  height: auto;
  max-height: 1800px;
  z-index: -1
}


/* resources  */

.resources {
  position: absolute;
  top: 35%;
  z-index: 3;
}

.resourcesHeadline {
  position: absolute;
  margin-left: 35%;
  margin-right: 20%;
  margin-top: 15%;
  margin-bottom: 45%;
}


.resourcesButtons {
  position: absolute;
  margin-left: 10%;
  margin-top: 20%;
  margin-right: 65%;
  margin-bottom: 5%;
}


.resourcesButton:hover {
  background-color: blue;
}

.showing {
  position: absolute;
  margin-left: 35%;
  margin-top: 22%;
  margin-right: 15%;
  margin-bottom: 5%;
  padding: 5%;
  background-color: lightblue;
}

/* blog */
.blogPosts {
  margin-top: 15%;
  margin-left: 25%;
  margin-right: 25%;
}

/* donate  */
.donate {
  position: absolute;
  top: 35%;
  z-index: 3;
}

/* fonts */
.massive {
  font-size: 5vw;
}

.center {
  text-align: center;
}

/* font-size */
.huge {
  font-size: 4.5vw;
}

.massive {
  font-size: 3vw;
}

.big {
  font-size: 2.3vw;
}

.large{
  font-size: 2vw;
}

.small {
  font-size: 1vw;
}
