.center {
	text-align: center;
}

.right {
	text-align: right;
}

/* brand colors */

.navy {
	color: rgb(8, 37, 78);
}

.gold {
	color: rgb(197, 158, 85);
}

/* font-size */

/* global headline styles */

.headline {
	font-family: "Bree Serif", serif;
	font-size: 3vw;
	font-weight: bold;
	text-align: center;
	margin-bottom: 5%;
	margin-top: 2%;
}

.subhead {
	font-size: 1.2vw;
	text-align: center;
	line-height: 1.2vw;
	color: grey;
}

/* font-sizes */
.huge {
	font-size: 4.5vw;
}

.massive {
	font-size: 3vw;
}

.big {
	font-size: 2.8vw;
}

.large {
	font-size: 1.5vw;
	line-height: 1.6vw;
}

.small {
	font-size: 1vw;
}

.logo {
	position: absolute;
	top: 26%;
	left: 4%;
	width: 100%;
	max-width: 35%;
	height: auto;
	z-index: 3;
}

html,
body {
	margin: 0;
	height: 100%;
}

/* donate  */
.donate {
	position: absolute;
	display: inline-block;
	left: 20%;
	top: 25%;
	z-index: 3;
}

.donateCardsGroup {
	margin-left: 3%;
	padding: 2%;
}

.donateCard {
	height: 10vw;
	width: auto;
}

.hiddenContent {
	padding: 5%;
	background-color: rgb(8, 37, 78);
	color: white;
}

.donateButton {
	height: 3vw;
	width: 15vw;
	background-color: rgb(8, 37, 78);
	border-radius: 15%;
}

.donateButton a {
	color: white;
	font-size: 1.5vw;
}

/* contact */
.contact {
	font-size: 1.1vw;
}
