/* navbar */

.navbar {
	position: absolute;
	font-weight: bolder;
	top: 10%;
	left: 43%;
	height: auto;
	width: 100%;
	max-width: 40%;
	margin: auto;
	z-index: 3;
}

.active {
	padding: 20px;
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	font-size: 1.2vw;
	color: rgb(8, 37, 78);
	background-color: white;
	border-radius: 10px 20px;
	border: 3px solid rgb(197, 158, 85);
	margin: 3% 1% 1%;
	width: 5%;
	height: 4%;
}

.active:hover {
	color: white;
	background-color: rgb(8, 37, 78);
}
