/* navbar */

.navbar {
    font-weight: bolder;
    height: auto;
    float: right;
    width: 50%;
    z-index: 1;
}

@media screen and (min-width: 700px) {
    .navbar {
        top: 2%;
        left: 43%;
    }
}

@media screen and (max-width: 699px) {
    .navbar {
        top: 8%;
    }
}

.nav-buttons {
    padding: 2em;
}

.nav-button {
    color: rgb(8, 37, 78);
    background-color: white;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}

.nav-button-active:hover {
    color: white;
    background-color: rgb(8, 37, 78);
}

@media screen and (min-width: 700px) {
    .nav-button {
        font-size: 1.1em;
        padding: 20px;
        border-radius: 10px 20px;
        border: 3px solid rgb(197, 158, 85);
        margin: 1em;
    }
}

@media screen and (max-width: 699px) {
    .nav-button {
        font-size: 2.6vw;
        padding: 10px;
        border-radius: 5px 10px;
        border: 1px solid rgb(197, 158, 85);
    }
}