/* navbar */

.navbar {
	position: absolute;
	font-weight: bolder;
	height: auto;
	margin: auto;
	width: 100%;
	max-width: 40%;
	z-index: 3;
}

.nav-buttons {
	position: absolute;
	padding: 10%;

}

.navbar-desktop{
	top: 2%;
	left: 43%;
}

.navbar-mobile {
	top: 8%;
	left: 5%;
}

.nav-button-active {
	font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
		"Lucida Sans", Arial, sans-serif;
	color: rgb(8, 37, 78);
	background-color: white;
	margin: 3% 1% 1%;
	width: 5%;
	height: 4%;
}

.nav-button-desktop {
	font-size: 1.2vw;
	padding: 20px;
	border-radius: 10px 20px;
	border: 3px solid rgb(197, 158, 85);
}

.nav-button-mobile {
	font-size: 1.3vw;
	padding: 10px;
	border-radius: 5px 10px;
	border: 1px solid rgb(197, 158, 85);
}

.nav-button-active:hover {
	color: white;
	background-color: rgb(8, 37, 78);
}
